@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@utility pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

@utility pt-safe {
  padding-top: env(safe-area-inset-top);
}

@layer base {
  html, body {
    @apply overflow-x-hidden;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
  }
}
